<footer class="footer__container">
    <div class="footer__github-section">
        <a class="footer__github-link" target="_blank" href="https://github.com/FranCeballos/InfinityApp-BackEnd.git">
            <img class="footer__github-logo" src="/images/github.png" alt="Infinity App Logo">
        </a>
    </div>
    <div class="footer__logo-section">
        <a href="/shop" class="footer__logo-link">
            <img class="footer__logo" src="/images/infinityLogoSquareWhite.png" alt="Infinity App Logo">
            <p class="font-grey-light footer__logo-name">Infinity Entertainment</p>
        </a>
    </div>
    <div class="footer__section">
        <p class="font-grey-light footer__dev-name">Developed by Francisco Ceballos</p>
    </div>
</footer>