<%- include('./partials/head.ejs', {pageTitle: pageTitle}) %>

  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <div class="card logInBox">
      <p class="logInTitle">Page Not Found</p>
      <a class="registerLink" href="/shop">Home Page</a>
    </div>
    <%- include("./partials/end.ejs") %>