<div class="loginView">
  <form class="card loginBox" method="post" action="/login">
    <p class="formTitle">Hello!</p>
    <input
      id="username"
      name="username"
      class="formInputStyle"
      type="text"
      placeholder="username"
      required
    />
    <button class="formButtonStyle">Log In</button>
  </form>
</div>