.list-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 20px;
  row-gap: 20px;
}

.list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 0px 50px;
  min-height: calc(80vh - 80px);
  max-width: 1400px;
  gap: 40px;
}

.list-image-box {
  width: 100%;
  height: 200px;
  position: relative;
}

.list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.list-image-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: all 0.2s ease-out;
  position: relative;
}

.list-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.list-item:hover .view-detail-btn {
  opacity: 1;
}

.list-item:active {
  transform: scale(1.03);
}

.view-detail-btn {
  opacity: 0;
  transition: all 0.1s ease-out;
  color: white;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-shadow: 0px 0px 20px black;
}

.list-item__link {
  text-decoration: none;
}

.item-img-box {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.item-img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000000d2 3%, #ffffff00 70%);
  border-radius: 20px;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.item-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.item-info-box2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.item-info-text {
  font-size: 13px;
}

.category__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.category__item-box {
  width: 220px;
  height: 110px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px black;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.category__item-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.category__item-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px black;
}

.category__item-box:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px black;
}
