* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1c1e;
}

input {
  padding: 0px 10px;
  text-align: right;
}

.navButton {
  color: black;
  font-weight: 600;
  background-color: rgb(237, 237, 237);
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.topLeftPosition {
  left: 50px;
  top: 53px;
}

.topRightPosition {
  right: 50px;
  top: 53px;
}

.listBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  gap: 40px;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1200px;
  gap: 10px;
  row-gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 225px;
  height: 300px;
  border-radius: 20px;
}

.itemDesImgBox {
  position: absolute;
  width: 225px;
  height: 300px;
  z-index: -1;
}

.itemDesImgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000000d2 3%, #ffffff00 70%);
  border-radius: 20px;
}

.itemDesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.itemDesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.itemDesBox2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.itemDesText {
  font-size: 13px;
}

.whiteColor {
  color: rgb(237, 237, 237);
  text-shadow: 1px black;
}

.priceText {
  font-weight: 600;
}

/* LogIn */

.loginView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(211, 211, 211);
  padding: 50px;
  border-radius: 30px;
  width: 606.2px;
  height: fit-content;
}

.loginBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formTitle {
  font-weight: 500;
  color: black;
  text-align: center;
}

.formInputStyle {
  height: 25px;
  border: 0px;
  border-radius: 20px;
}

.formButtonStyle {
  color: white;
  background: #2b2f77;
  padding: 10px 20px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
}
