* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1c1e;
}

.backButton {
  color: black;
  font-weight: 600;
  background-color: rgb(237, 237, 237);
  position: absolute;
  left: 50px;
  top: 53px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.listBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  gap: 40px;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1200px;
  gap: 10px;
  row-gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 225px;
  height: 300px;
  border-radius: 20px;
}

.itemDesImgBox {
  position: absolute;
  width: 225px;
  height: 300px;
  z-index: -1;
}

.itemDesImgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000000d2 3%, #ffffff00 70%);
  border-radius: 20px;
}

.itemDesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.itemDesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.itemDesBox2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.itemDesText {
  font-size: 13px;
}

.whiteColor {
  color: rgb(237, 237, 237);
  text-shadow: 1px black;
}

.priceText {
  font-weight: 600;
}
