<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/stylesIndex.css" />
    <link rel="stylesheet" href="/css/stylesLogIn.css" />
  </head>
  <body class="box">
    <div class="card logInBox">
      <p class="logInTitle">Register</p>
      <form class="logInBox" action="/register" method="post">
        <input
          id="firstName"
          name="firstName"
          class="formInputStyle"
          type="text"
          placeholder="First Name"
          required
        />
        <input
          id="lastName"
          name="lastName"
          class="formInputStyle"
          type="text"
          placeholder="Last Name"
          required
        />
        <input
          id="email"
          name="email"
          class="formInputStyle"
          type="email"
          placeholder="Email"
          required
        />
        <input
          id="age"
          name="age"
          class="formInputStyle"
          type="number"
          placeholder="Age"
          required
        />
        <div>
          <input
            id="phoneCharacteristic"
            name="phoneCharacteristic"
            class="formInputStyle"
            type="number"
            placeholder="Phone Characteristic"
            required
          />
          <input
            id="phone"
            name="phone"
            class="formInputStyle"
            type="number"
            placeholder="Phone number"
            required
          />
        </div>
        <input
          id="country"
          name="country"
          class="formInputStyle"
          type="text"
          placeholder="Country"
          required
        />
        <input
          id="password"
          name="password"
          class="formInputStyle"
          type="text"
          placeholder="Password"
          required
        />
        <input
          id="avatar"
          name="avatar"
          class="formInputStyle"
          type="text"
          placeholder="Avatar URL"
          required
        />
        <button class="formButtonStyle" type="submit">Confirm SignUp</button>
      </form>
      <a class="registerLink" href="/login">LogIn</a>
    </div>
  </body>
</html>
