<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="login-box fadein">
      <p class="login-title font-grey-light">SignUp Successful ✅</p>
      <a href="/login"><button class="btn-primary">LogIn</button></a>
    </div>
    <%- include("../partials/end.ejs") %>
